.photo-grid {
  display: grid;
  grid-template-rows: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.photo-grid__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.photo-grid__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1920px) {
  .photo-grid {
    width: 92%;
    margin: 0 auto 92px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }

  .photo-grid__item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
  }

  .photo-grid__image {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 94%;
    margin: 0 auto 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  .photo-grid__item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
  }

  .photo-grid__image {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    width: 90%;
    margin: 0 auto 62px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
  }

  .photo-grid__item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
  }

  .photo-grid__image {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
