.cover__subtitle {
  text-align: center;
  width: fit-content;
  z-index: 1;
  font-weight: 400;
  margin: 0;
}

.cover__subtitle:hover {
  transition: none;
}

.cover__subtitle:hover ~ .cover__background {
  opacity: 0.3;
  background: #2a2c2f;
}

@media screen and (max-width: 1920px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.1;
  }
}
